@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap");

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hiragino Kaku Gothic ProN W3", sans-serif;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.innner {
  width: calc(100% + 6%);
  padding: 0 3%;
}
