@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap");

html {
  font-size: 106.25%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  line-height: 2;
  font-size: 17px;
  color: #000;
}

/*===========================================================
 default
===========================================================*/
p {
  padding: 0;
  margin: 0 0 1em 0;
}

a {
  color: #1e66b4;
  word-break: break-word;
  text-decoration: underline;
}
a:hover {
  opacity: 1;
  color: #1e66b4;
  text-decoration: none;
}
a:hover img {
  opacity: 0.7;
}

ul,
ol {
  margin: 0 0 1em 0;
  padding: 0 0 0 2em;
}

ul li,
ol li {
  padding: 0;
}

.innner {
  width: 100%;
  max-width: calc(100% + 6%);
  margin: 0 auto;
  padding: 0 3%;
}

.content {
  padding: 20% 0;
}

.content a {
  padding: 10px 30px 10px 10px;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  position: relative;
  &:after {
    width: 11.5px;
    height: 12px;
    background: url(./img/common/ico_arrow.png) center/100% no-repeat;
    position: absolute;
    top: calc(50% - 6px);
    right: 10px;
  }
}
